svg {
    padding-left: 50px;
}

h1 {
    color: purple;
    padding-left: 200px;
    padding-top: 20px;
}

h2 {
    color: purple;
    font-size: 16px;
    padding-left: 240px;
}

.axisText {
    color:  rgb(77, 77, 77) !important;
}

.stateText {
    color: purple;
}

.bubble:hover {
    stroke: purple;
    stroke-width: 2px;
  }
  
  .tooltip {
    margin-left: 50px;
    color: white;
    text-align: left;
    background: #551aaf;
  }
  
  .axis-text {
    font-family: sans-serif;
    font-weight: bold;
    fill: purple;
    text-anchor: middle;
  }
  
  .active {
    font-weight: bold;
    fill: purple;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive {
    font-weight: lighter;
    fill: purple;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive:hover {
    fill: fuchsia;
    cursor: pointer;
  }